APP_NAME=five-star-api
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5433/five_star
JWT_SECRET_KEY=change-this-in-real-env
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
FRONTEND_ORIGIN=http://localhost:5173
